<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.kazuki-hanai.hjkl-for-mac</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/kazukihanai/kazuki-hanai/hjkl-for-mac/target/release/hjkl-for-mac</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>StandardOutPath</key>
	<string>/Users/kazukihanai/Library/Logs/hjkl-for-mac.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/kazukihanai/Library/Logs/hjkl-for-mac.err.log</string>
</dict>
</plist>
